.reportonepage{
    display: flex;
    flex-direction: column;
    text-align: start;
    padding: 2rem;
    border: 1px solid #e5f876;
    margin: 3rem;
    border-radius: 1rem;
    background-color: #393b43;
}

.button{
    font-size: 1.1rem;
    align-self: center;
    padding: 0.8rem;
    border: 1px solid #e5f876;
    border-radius: 0.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    background-color: #393b43;
    color: #e5f876;
    width: 25%;
    cursor: pointer;
  }
/* 
  .box{
    border: 1px solid #e5f876;
    border-radius: 0.5rem;
    padding: 1rem;

  } */

  .comments{
    background-color: #1F2023;
    border-radius: 0.5rem;
    padding: 1rem;
  }